<!DOCTYPE html>
<html>
<head>
    <title>Quiz Score</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Your Score: {{ score }} / {{ total }}</h1>
    <h2>Your Percentage: {{ percentage }}%</h2>

    {% if incorrect_questions %}
    <h2>Incorrectly Attempted Questions</h2>
    <div class="incorrect-questions-container" style="overflow: auto; max-height: 400px;">
        <ul>
            {% for question, correct_answer in incorrect_questions %}
            <li><strong>Question:</strong> {{ question }}<br><strong>Correct Answer:</strong> {{ correct_answer }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <a href="{% url 'quiz:quiz_types' %}" class="btn">Back to Quiz Types</a>
</body>
</html> 
